* {
    font-family: 'Overpass', sans-serif;
}

html {
    background-color: hsl(216, 12%, 8%);
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

h2 {
    color:hsl(0, 0%, 100%);
    margin: 0;
    font-weight: 700;
}

p {
    font-size: 15px;
    color:hsl(217, 12%, 63%);
    margin: 0;
}

.rating-panel, .submission-message {
    background-color: hsl(213, 19%, 18%);
    width: 325px;
    height: 350px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: column;
    border-radius: 14px;
}

.rating-panel {
    z-index: 1;
}

.star-icon {
    width: 14px;
    height: 14px;
    padding: 12px;
    border-radius: 32px;
    background-color: #353e47;
}

.ratings {
    display: flex;
    justify-content: space-between;
}

.rating-number {
    border: none;
    font-size: 14px;
    width: 42px;
    height: 42px;
    color: hsl(217, 12%, 63%);
    background-color: #353e47;
    border-radius: 48px; 
}

.submit {
    background-color:hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 14px 0;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.15em;
}

.submit:active {
    background-color: hsl(0, 0%, 100%);
    color:hsl(25, 97%, 53%);
}

.submission-message {
    display: none;
}

@media screen and (min-width: 720px) {
    h2 {
        font-size: 28px;
    }

    .rating-panel, .submission-message {
        width: 410px;
        height: 410px;
        padding: 36px;
        border-radius: 28px;
    }

    .star-icon {
        width: 16px;
        height: 16px;
        padding: 16px;
        border-radius: 32px;
    }

    .rating-number {
        width: 48px;
        height: 48px;
        font-size: 16px;
    }
}